
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";



@theme{
  --color-primary: #FF5C00;
  --color-primary-dulled: #FF5C00;
};

*{

 font-family: "Outfit", sans-serif;
 scrollbar-width: thin;
  scrollbar-color: #FF5C00 transparent;

}

body{
  background-color: #09090B;
  color: white;
};

.no-scroll-bar {
  scrollbar-width:thin;
}